.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border:none;
    box-shadow:tomato;
    padding: 20px;

  }
  .cancelBtn{
    border: none;
    padding: 6px 10px;
    margin: 2px 60px;
    border-radius:6px ;
  }
  .deleteBtn{
    background-color: tomato;
    color:white;
    border: none;
    padding: 6px 10px;
    margin: 2px 20px;
    border-radius:6px ;
  }