.users {
    border-collapse: collapse;
    width: 100%;
  }
  .users td, .users th {
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  
  .users tr:hover {background-color: #eee;}
  .gray{
    background-color: #ccc;
  }
  
  .users th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(24, 108, 75, 64%);
    color: white;
    text-align: left;
  }
  .fallBack{
    text-align: center;
    font-size: 20px;
    color: tomato;
    margin-top: 16px;
  }
  .deleteBtn{
    color:tomato;
  }
  .editBtn:hover, .deleteBtn:hover{
    cursor: pointer;
  }
  .deleteSelectedBtn{
    border-radius: 4px;
    border: none;
    background-color: tomato;
    color: white;
    padding: 8px;
  }
  
